<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page Title - Solid BG || Eduguide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.jpg">
    
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../static/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../static/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="../static/css/color/color-1.css">
    
    <!-- Modernizr JS -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header-top-info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-ui-call"></i>
                                        Hotline  (+123) 45 67 89 21
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-envelope"></i>
                                        devitmes@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-top-right f-right">
                            <div class="header-top-social f-right">
                                <p>Follow Us :</p>
                                <ul>
                                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-github"></i></a></li>
                                </ul>
                            </div>
                           
            </div>
        </div>
        <div class="header-bottom stick-h2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo/logo.png" alt=""> </a>
                        </div>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- mobile-menu-area start -->
    
    <!-- mobile-menu-area end -->
    <div class="service-from navy-bg0">
        <table style="width:100%;">
            <tr>
                <th colspan="2">USN: {{ usn1 }}</th>
                <th colspan="3">NAME: {{ name1 }}</th>
            </tr>
            <tr>
            <th>Semester</th>
            <th>Subject</th>
            <th>IA1 Marks</th>
            <th>IA2 Marks</th>
            <th>IA3 Marks</th>
            </tr>
            <td> {{ sem1 }} </td>
            <td> {{ sub1 }} </td>
            <td> {{ ia1 }} </td>
            <td> {{ ia2 }} </td>
            <td> {{ ia3 }} </td>
            <tr>


            </tr>
        </table>
        
    </div>
    <section class="breadcrumbs-area gray-bg ptb-110 page-title-fix solid">
        <div class="container">
            <div class="row">
                
         </div>
        </div>
    </section>
        <!-- Demo Content Area
            ============================================ -->
            <!-- Start footer area -->
         
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="footer-bottom-text ptb-20">
                                <p>
                                    Copyrights © <a href="http://bootexperts.com/" target="_blank"> 2016 Devitems</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer area -->
        <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        <!-- Body main wrapper end -->






        <!-- Placed js at the end of the document so the pages load faster -->
        <!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="js/bootstrap.min.js"></script>
    <!-- ajax-mail JS
        ============================================ -->        
        <script src="js/ajax-mail.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>

    </html>
